.layout {
  background: var(--color-surface-page);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 0 var(--layout-gutter);
}

.themeScope {
  min-height: 100%;
}
